<head>
    <title>{% block title %}{% endblock %} - page</title>
    {% block head %}
    {% endblock %}
</head>
<body>
    <header>
        <h1>Navigation</h1>
        <nav>
            <ul>
                <li><a href="{{ url_for('main.index') }}">Home</a></li>
                <li><a href="{{ url_for('auth.login') }}">Sign in</a></li>
                <li><a href="{{ url_for('auth.register')}}">Sign up</a></li>
                <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
                <li><a href="{{ url_for('auth.delete') }}">Delete user</a></li>
            </ul>
           
        </nav>
    </header>
    {% block content %}
    {% endblock content %}
</body>