<head>
    <link href="{{ url_for('static', filename='css/base.css') }}" rel="stylesheet">
    <title>{% block title %}{% endblock %}</title>
    {% block head %}
    {% endblock %}
</head>
<body>
    <div class="header">
        <div class="hat">
            <h1>Ответ на сотку!</h1>
        </div>
        <div class="nav">
            <ul>
                <li><a href="{{ url_for('main.index') }}">Home</a></li>
                <li><a href="{{ url_for('auth.login') }}">Sign in</a></li>
                <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
                <li><a href="{{ url_for('auth.delete') }}">Delete user</a></li>
            </ul>
        </div>
    </div>

    <div class="main">
        {% block main %}
        {% endblock %}
        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    </div>


    <div class="footer">
        <p class="bg-href">Изображение от <a href="https://ru.freepik.com/free-vector/gradient-white-monochrome-background_15782163.htm#query=white%20background%20full%20hd&position=48&from_view=search&track=robertav1">Freepik</a></p>
        <p class="contacts">Contacts: InfaNaSotku@gmail.com</p>
    </div>


</body>