{% extends "base.html" %}

{% block title %}Index{% endblock %}

{% block head %}
<link href="{{ url_for('static', filename='css/index.css') }}" rel="stylesheet">
{% endblock %}

{% block main %}
<section>
    <h2>Hi, {{ username }}!</h2>
    <div class="wrap"  onclick="location.href='{{ url_for('question.index') }}';">
        <p>Questions</p>
        <div class="ring">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
 </section>
{% endblock %}
