{% extends "base.html" %}

{% block title %}Register{% endblock %}

{% block main %}
{% if error %}
    <font color="red"><center>{{ error }}!</center></font>
{% endif %}
    <form action="" method="post">
        <center>
            <fieldset style="width:20px">
                <legend>Registration</legend>
                <p>
                    <label for="username">Username:</label>
                    <input type="text" name="username" id="username" required>
                </p>
                <p>
                    <label for="password">Password:</label>
                    <input type="password" name="password" id="password" required>
                </p>
                <p>
                    <label for="confirm password">Confirm password:</label>
                    <input type="password" name="confirm password" id="confirm password" required>
                </p>
                <p><input type="submit" value="Submit"></p>
            </fieldset>
        </center>
    </form>
{% endblock %}