{% extends "base.html" %}

{% block title %}Register{% endblock %}

{% block head %}
<link href="{{ url_for('static', filename='css/login.css') }}" rel="stylesheet">
{% endblock %}

{% block main %}
<section>
    <div class="form-box" style="height: 400px; transform: translateY(-30%);">
        <form action="" method="post">
            <h2>Sign in</h2>
            <div class="inputbox">
                <ion-icon name="person-outline"></ion-icon>
                <input type="text" name="username" id="username" required>
                <label for="username">Username:</label>
            </div>
            <div class="inputbox">
                <ion-icon name="lock-closed-outline"></ion-icon>
                <input type="password" name="password" id="password" required>
                <label for="password">Password:</label>
            </div>
            <div class="inputbox">
                <ion-icon name="checkmark-circle-outline"></ion-icon>
                <input type="password" name="confirm password" id="confirm password" required>
                <label for="confirm password">Confirm password:</label>
            </div>
            {% if error %}
            <font color="red"><center>{{ error }}!</center></font>
            {% endif %}
            <input type="submit" value="Sign up">
        </form>
    </div>
</section>
{% endblock %}
